* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align:center;
    font-size: 3rem; 
}

ul {
    list-style: none;
    font-size: 1.1rem;
}

.delete {
    display: inline;
    font-size: 0.8rem;
    position: relative;
    bottom: 1px;
    color: red;
    display: none;
    cursor: pointer;
    opacity: 0.5;
}

.delete:hover {
    opacity: 1;
}

li:hover .delete {
    display: inline;
}